app:
  name: svc
  image:
    repository: "onecx/onecx-ai-provider-svc"
    tag: 999-SNAPSHOT
  db:
    enabled: true
  operator:
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            defaultClientScopes: [ ocx-tn:read ]
    microservice:
      spec:
        description: OneCX AI Provider Backend Service
        name: OneCX AI Provider SVC